<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8" />
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>getSocialMediaStatistics</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>getSocialMediaStatistics</div>
                <a href="/subreddits" class="item">Reddit</a>
                <a href="/youtubechannels" class="item">Youtube</a>
                <a href="/twitterusers" class="item">Twitter</a>
                <a href="/instagramusers" class="item">Instagram</a>
                <a href="/twitchusers" class="item">Twitch</a>
            </div>
        </div>
        <div class= "ui main container">
        <% if(error && error.length >0){ %>
            <div class="ui negative message" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length >0) {%>
        <div class="ui positive message " role="alert">
            <%= success %>
        </div>
         <% } %>
    </div>
